.header{
    height:55px;
    display:flex;/*use display:flex on the parent element*/
    flex-direction: row;/*flex-direction:row tells a flexbox to layout our content HORIZONTALLY*/
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    background-color:white;
    border-bottom-width:1px;
    border-bottom-style: solid;
    border-bottom-color:rgb(228, 228, 228);
    z-index: 100;
}

.left-section{
    /* background-color: lightblue; */
    /* width:150px; */
    /*we wanted a fixed width*/
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 20px;
    margin-left: 24px;
    margin-right:24px;
}

.youtube-logo{
    height: 20px;
}

.middle-section {
    /* background-color: lightpink; */
    flex: 1;/*the middle section is stretching*/
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;/*(4:12:30)this property means the width can be less than 300 pixels
    but as soon as it grows to be over 
    300 pixels we are going to LIMIT IT to 300px*/
    display:flex;
    align-items: center;
}

.search-bar{
    flex:1;/*we use flex-1 to stretch the search bar to take up the remaining space*/
    height:36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;/*this makes the search bar shrink*/
}

.search-bar::placeholder{
    font-family: roboto,Arial;
    font-size: 16px;
}

.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width:1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;/*negative margin will pull not put*/
    margin-right: 8px;

    position: relative;

}

.search-button,
.voice-search-button,
.upload-icon-container{
    display:flex;
    justify-content: center;/*centers the hover voice search button text HORIZONTALLY*/
    align-items: center;
    position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip{
    font-family: Roboto,Arial;
    position: absolute;
    background-color: gray;
    color:white;
    padding:4px 8px 4px 8px;/*like clockwise*/
    border-radius: 2px;
    font-size: 12px;
    bottom:-30px;
    opacity:0;/*makes the "search tooltip" invisible*/
    transition:opacity 0.15s;
    pointer-events: none;/*this means when are mouse hovers over the tooltip it is not going to do anything(6:01:10)*/
    white-space: nowrap;/*prevents the text from wrapping around when hovering over voice search button */
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip {
    opacity: 1;
}


.search-icon{
    height: 25px;
    /* margin-top: 4px; */
    /*you can either do this to VERTICALLY align or you can flexbox the search button on the class above this one*/
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
}

.voice-search-icon{
    height: 24px;
    margin-top: 4px;
}

.right-section{
    /* background-color: lightblue; */
    width:180px;
    /*we wanted a fixed width*/
    margin-right:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink:0;/*no matter what happens we will keep the width and shrinking will not occur*/
}

.upload-icon{
    height: 24px;
}

.youtube-apps-icon{
    height: 24px;
}

.notifications-icon{
    height: 24px;
}

.notifications-icon-container{/*position relative first*/
    position:relative;
}

.notifications-count{/*then position absolute second(5:29:50)*/
    position: absolute;
    top:-2px;/*to push the element even more over to the right use negative numbers*/
    right:-5px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-family: roboto,Arial;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius:10px;
}

.current-user-picture{
    height: 32px;
    border-radius: 16px;
}



/*stopped at 5:33:51*/